In [1]:
import pandas as pd

In [2]:
import numpy as np

In [10]:
from sklearn.model_selection import train_test_split

In [13]:
_headers= ['buying' , 'maint' , 'doors','persons' , 'lug_loot', 'safety' , 'car']

In [14]:
df=pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter07/Dataset/car.data', names=_headers, index_col=None)

In [15]:
df

     buying  maint  doors persons lug_loot safety    car
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_loot  1728 non-null   object
 5   safety    1728 non-null   object
 6   car       1728 non-null   object
dtypes: object(7)
memory usage: 47.3+ KB

In [17]:
training_df , eval_df =train_test_split(df,test_size=0.8 , random_state=0)

In [18]:
training_df

     buying  maint  doors persons lug_loot safety    car
1037    med   high      4       4    small   high    acc
1389    low  vhigh  5more       4      med    low  unacc
455    high  vhigh      2    more      med   high  unacc
584    high   high      3       4      big   high    acc
147   vhigh   high      3       4      med    low  unacc
...     ...    ...    ...     ...      ...    ...    ...
835    high    low      4    more      big    med    acc
1216    med    low      3       2    small    med  unacc
1653    low    low      3       2      big    low  unacc
559    high   high      2    more    small    med  unacc
684    high    med      3       4    small    low  unacc

[345 rows x 7 columns]

In [19]:
eval_df

     buying  maint  doors persons lug_loot safety    car
1318    low  vhigh      2    more      med    med  unacc
124   vhigh   high      2       4      big    med  unacc
648    high    med      2       2    small    low  unacc
249   vhigh    med      3       2      big    low  unacc
1599    low    med  5more       2      big    low  unacc
...     ...    ...    ...     ...      ...    ...    ...
715    high    med      4       4      med    med    acc
832    high    low      4    more      med    med    acc
951     med  vhigh  5more       2      big    low  unacc
1144    med    med      4       4    small    med    acc
1338    low  vhigh      3       4      big    low  unacc

[1383 rows x 7 columns]

In [20]:
training_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 345 entries, 1037 to 684
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    345 non-null    object
 1   maint     345 non-null    object
 2   doors     345 non-null    object
 3   persons   345 non-null    object
 4   lug_loot  345 non-null    object
 5   safety    345 non-null    object
 6   car       345 non-null    object
dtypes: object(7)
memory usage: 12.1+ KB